<h1>Form Teams</h1>

<table class="table">
<thead>
<tr>
<th>Student</th>
<% @cohort.current_pitches.each do |pitch| %>
  <th><%= pitch.name %></th>
<% end %>
  <th>Team</th>
</tr>
</thead>
<tbody>
<% @cohort.students.each do |student| %>
<tr>
  <td><%= student.full_name %></td>
  <td><%= student.round_votes(@cohort.stage_id, 1) %></td>
  <td><%= student.round_votes(@cohort.stage_id, 2) %> </td>
  <td><%= select_tag(:team, options_for_select([["Team A", 1],["Team B", 2]])) %></td>
</tr>
<% end %>
</tbody>
</table>