<%= form_for(@cohort) do |f| %>
  <% if @cohort.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @cohort.errors.full_messages.each do |msg| %>
          <li class="bg-warning text-black"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex flex-row">
  <p class="p-2">
    <%= f.label :Name %>
    <%= f.text_field :name, {placeholder: "Name for new cohort."} %>
  </p>
  <p class="p-2 ml-auto">
    <%= f.label :Active %>
    <%= f.check_box :active, {checked: true} %>
  </p>
  </div>

  <div class="d-flex flex-row">
  <p class="p-2">
    <%= f.label :Pitch_limit %>
    <%= f.number_field :pitch_limit,{placeholder: "Max # pitches allowed."} %>
  </p>
  <p class="p-2 ml-auto">
    <%= f.label :Pitch_start %>
    <%= f.date_field :pitch_start %>
  </p>
  </div>

  <div class="d-flex flex-row">
  <p class="p-2">
    <%= f.label :Vote_limit %>
    <%= f.number_field :vote_limit,{placeholder: "Max # votes allowed."} %>
  </p>
  <p class="p-2 ml-auto">
    <%= f.label :Vote_start %>
    <%= f.date_field :vote_start %>
  </p>
  </div>

  <div class="d-flex flex-row">
  <p class="p-2 ml-auto">
    <%= f.label :Vote_end %>
    <%= f.date_field :vote_end %>
  </p>
  </div>
  <hr>
  <div class="d-flex flex-row bg-faded">
  <p class="p-2 ml-auto">
    <%= f.submit %>
  </p>
  </div>
<% end %>
