<%= form_for(@admin) do |f| %>
  <div class="d-flex flex-row">
  <div class="field p-2">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field p-2">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Submit Changes" %>
  </div>
<% end %>
