<% @cohorts.each do |cohort| %>
<h1><%= cohort.name %></h1>
<p>Stage: <%= cohort.stage_id %></p>
<p>Pitch Due: <%= cohort.pitch_start %></p>
<p>Voting Due: <%= cohort.vote_end %></p>
<h3>All Pitches</h3>
<ol>
<% cohort.pitches.each do |pitch| %>
<li><%= link_to pitch.name, pitch_path(pitch), target: :_blank %> - <%= pitch.votes.count %></li>
<% end %>
</ol>
<hr>
<% end %>
