<!-- 
<ul>
<% Student.all.each do |s| %>
  <li><%= s.full_name %></li>
<% end %>
</ul> -->
<br>
Welcome <%=  current_student.full_name %>,
<br>

<% if current_student.cohort.stage_id == 0 %>
  Pitches due date: 
  <%= current_student.cohort.pitch_start %>
<% elsif current_student.cohort.stage_id == 1  %>
  Voting due date:
  <%= current_student.cohort.vote_end %>
<% end %>

<br>
<hr>
<% if current_student %>
<%= render "./pitches/index.html.erb" %>
<% end %>