<h2>Create Student</h2>

<%= form_for(@student) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
  COHORT
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

