<h1>List of Project Pitches</h1>
<%= link_to("New Pitch", new_pitch_path) %> <br>

<% if @pitches %>
  <% @pitches.each_with_index do |pitch, index| %>
    <%= link_to("#{ index + 1 }. #{pitch.name}", pitch_path(pitch.id))%> <%=  link_to("edit", edit_pitch_path(pitch.id)) %> <%= link_to("delete", pitch_path(pitch.id) , method: "delete") %>  <br>
    <hr>
  <% end %>
<% end %>
<br>

<%= button_to "Submit", { :controller => "pitches", :action => "index"} %>

