<% @cohorts.each do |cohort| %>
<h1><%= cohort.name %></h1>
  <%= form_for :rounds do |f| %>
  <p>Stage: <%= cohort.stage_id %></p>
  <p>Pitch Due: <%= cohort.pitch_start %></p>
  <p>Voting Due: <%= cohort.vote_end %></p>
  <h3>All Pitches</h3>
  <ol>
    <% cohort.pitches.each do |pitch| %>
      <li><%= link_to pitch.name, pitch_path(pitch), target: :_blank %> - <%= pitch.votes.count %> - </li>
    <% end %>
  </ol>
  <%= f.select :round_status, options_for_select([['Next Round', 1], ['Create Teams', 2]]) %>
  <%= f.submit 'Submit' %>
  <% end %>
<hr>
<% end %>
